{{#if required}}
let object = {{detect_keyword (to_upper type)}}::read(reader)?;
{{/if}}
{{^required}}
let mut object: {{to_rust (to_graphql_type this)}} = None;
if !reader.is_next_nil()? {
    object = Some({{detect_keyword (to_upper type)}}::read(reader)?);
} else {
    object = None;
}
{{/if}}