{{#if required}}
let mut value: {{detect_keyword (to_upper type)}} = {{detect_keyword (to_upper type)}}::_MAX_;
if reader.is_next_string()? {
    value = get_{{to_lower type}}_value(&reader.read_string()?)?;
} else {
    value = {{detect_keyword (to_upper type)}}::try_from(reader.read_i32()?)?;
    sanitize_{{to_lower type}}_value(value as i32)?;
}
{{/if}}
{{^required}}
let mut value: {{to_rust (to_graphql_type this)}} = None;
if !reader.is_next_nil()? {
    if reader.is_next_string()? {
        value = Some(get_{{to_lower type}}_value(&reader.read_string()?)?);
    } else {
        value = Some({{detect_keyword (to_upper type)}}::try_from(reader.read_i32()?)?);
        sanitize_{{to_lower type}}_value(value.unwrap() as i32)?;
    }
} else {
    value = None;
}
{{/if}}