{{#if required}}
{{detect_keyword (to_upper type)}}::write(item, writer)
{{/if}}
{{^required}}
if item.is_some() {
    {{detect_keyword (to_upper type)}}::write(item.as_ref().as_ref().unwrap(), writer)
} else {
    writer.write_nil()
}
{{/if}}